ENV=DEV
DEBUG=True
APP_IS_EXPOSED=false
APP_PORT=***
POOL_INTERNAL_DIR=pool/
FLASK_LOGS_ARE_NEEDED=true
FLASK_LOG_INTERNAL_DIR=log/
FLASK_LOG_APP_FILENAME=app.log
FLASK_LOG_ERROR_FILENAME=error.log
FLASK_LOG_REQUESTS_FILENAME=requests.log
